/*
Milissa McClelland
Web Standards Project
Week One Project
*/

html {
    background: url("../images/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: "Roboto", sans-serif;
}

h1, h2, h3 {
    font-family: "ComforStaa", verdana, serif;
}

#feature {
    float: right;
    width: 75px;
    padding: 5px;
    color: white;
    background-color: goldenrod;
}

#banner {
    background: #000;
    color: white;
    text-align: right;
    font-family: "Comfortaa", verdana, serif;

}

#banner p {
    padding: 10px;
}

#wrapper {
    width: 960px;
    margin: 25px auto 0 auto;
}

#aboutInfo {
    width: 960px;
    color: #fff;
}

h1 {
    font-size: 50px;
    margin-bottom: 25px;
    color: white;
}

h2 {
    font-size: 30px;
    margin:15px 0 25px 0;
    padding: 5px;
    text-align: right;
    background-color: gray;
    color: white;
}

h3 {
    font-size: 20px;
    color: #3d3d3d;
}

#about {
    width: 600px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

article {
    margin-top: 50px;
    padding: 20px;
    background: #f0eeee;
}

article p {
    color: gray;
    margin-bottom: 10px;
}

input {
    border-radius: 3px;
    margin-top: 10px;
    padding: 5px;
    color: white;
    background-color: gray;
}

#featured {
    border: 5px solid goldenrod;
}

img {
    display: block;
    margin: 10px auto;
    border: 3px solid gray;
}

ul {
    margin-bottom: 10px;
}

li {
    width: 600px;
    padding: 4px;
    list-style-type: none;
}

li:nth-child(odd) {
    background-color: gray;
    color: white;
}

footer {
    color: #fff;
    text-align: center;
    margin: 25px 0;
    font-family: "Comfortaa", verdana, serif;
}