<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Slider</title>
    <link rel="stylesheet" type="text/css" href="style5.css" />
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower|Comfortaa' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>

<header>
    <p>Web Standards Project</p>
</header>

<div id="slider">
    <a href="#" class="control_next">>></a>
    <a href="#" class="control_prev"><</a>
    <ul>
        <li><img src="images/blueberries.jpg"></li>
        <li><img src="images/banana.jpg"></li>
        <li><img src="images/chilies.jpg"></li>
        <li><img src="images/citrus.jpg"></li>
    </ul>
</div>


<footer>Website by: Milissa A. McClelland (2015)</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="com5.js"></script>
</body>
</html>