<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drop-down Nav</title>
    <link rel="stylesheet" type="text/css" href="style1.css" />
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower|Comfortaa' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>

<div id="banner">
    <p>Web Standards Project</p>
</div>

<header>

    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a>
                <ul>
                    <li><a href="#">Testimonials</a></li>
                    <li><a href="#">Archives</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>

<section>Content</section>

<footer>Website by: Milissa A. McClelland (2015)</footer>

</body>
</html>