<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee About</title>
    <link rel="stylesheet" type="text/css" href="style4.css" />
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower|Comfortaa' rel='stylesheet' type='text/css'>
</head>
<body>

<header><p>Web Standards Project</p></header>

    <section>

        <div class="profile">
           <img src="images/employee.jpg">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae lobortis enim. Quisque nec semper ex. Nulla eget felis porta, mattis orci vitae, ornare turpis.</p>
            <a href="#" class="link">read more >></a>
        </div>
        <div class="profile">
            <img src="images/employee.jpg">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae lobortis enim. Quisque nec semper ex. Nulla eget felis porta, mattis orci vitae, ornare turpis.</p>
            <a href="#" class="link">read more >></a>
        </div>
        <div class="profile">
            <img src="images/employee.jpg">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae lobortis enim. Quisque nec semper ex. Nulla eget felis porta, mattis orci vitae, ornare turpis.</p>
            <a href="#" class="link">read more >></a>
        </div>
        <div class="profile">
            <img src="images/employee.jpg">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae lobortis enim. Quisque nec semper ex. Nulla eget felis porta, mattis orci vitae, ornare turpis.</p>
            <a href="#" class="link">read more >></a>
        </div>

    </section>

</body>
</html>