<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" type="text/css" href="style3.css" />
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower|Comfortaa' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>

    <header>

        <p>Web Standards Project</p>

    </header>

    <section>
        <p>Content would be here.</p>
    </section>

    <footer>
        <ul>
            <li><a href="#"><img src="images/facebook.png" title="Facebook" height="25" width="25"/></a></li>
            <li><a href="#"><img src="images/twitter.png" title="Twitter" height="25" width="25"/></a></li>
            <li><a href="#"><img src="images/googlePlus.png" title="Google+" height="25" width="25"/></a></li>
            <li><a href="#"><img src="images/linked.png" title="LinkedIn" height="25" width="25"/></a></li>
        </ul>

        <p>Explore &copy; 2015, Privacy Policy.</p>

    </footer>

</body>
</html>