/*
Milissa McClelland
Web Standards Project
Week Two Project
*/



header {
    background: #000;
    color: white;
    text-align: right;
}

header p {
    padding: 10px;
}

section {
    height: 530px;
    text-align: center;
    border: 2px dotted #ccc;
    margin-bottom: 20px;
}

footer {
    text-align: center;
}