/*
Milissa McClelland
Web Standards Project
Week Two Project
*/

/**********Header**********/

header {
    background: #000;
    color: white;
    text-align: right;
}

header p {
    padding: 10px;
}

/**********Section**********/

section {
    height: 530px;
    text-align: center;
    border: 2px dotted #ccc;
    margin-bottom: 20px;
}

/**********Footer**********/

ul li {
    display: inline-block;
    list-style: none;
}

footer{
    text-align: center;
}