<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Call to Action</title>
    <link rel="stylesheet" type="text/css" href="style2.css" />
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower|Comfortaa' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>

<header>
    <p>Web Standards Project</p>
</header>

<section id="cta">
    <div id="wrapper">
        <h1>Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet lobortis nisl. Ut facilisis laoreet urna nec iaculis. Quisque non ex quis justo imperdiet congue quis quis erat. Sed venenatis, eros eget commodo pharetra, eros metus varius massa, vehicula suscipit metus turpis ac mauris.</p>

        <form>
            <input type="text" placeholder="Search..." required>
            <input type="button" value="Search">
        </form>
    </div>
</section>

<footer>Website by: Milissa A. McClelland (2015)</footer>

</body>
</html>