/*
Milissa McClelland
Web Standards Project
Week One Project
*/


body {
    font-family: "comfortaa", sans-serif;
}

/**********Header**********/

header {
    background: #000;
    color: white;
    text-align: right;
    font-family: "Comfortaa", verdana, serif;

}

header p {
    padding: 10px;
}

/**********Section**********/

section {
    width: 1040px;
    height: 450px;
    border: 1px dotted black;
    margin: 0 auto;
}

/**********Call to Action**********/

#wrapper {
    margin: 0 auto;
    text-align: center;
    width: 600px;
}

form {
    width:500px;
    margin:300px auto;
}
.search {
    padding:8px 15px;
    border:0 solid #dbdbdb;
}
.button {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #32cc74;
    background-color:#32cc74;
    color:#fff;
}
.button:hover  {
    background-color:#fafafa;
    color:#207cca;
}